@using FikirEdin.Web.Models.Home
@model SingleProductViewModel
@{
   
    ViewBag.Title = @Model.Product.Category.categoryName+" "+@Model.Product.productName + " İnceleme";
    Layout = "Layout/_HomeLayout";
}

<script src="~/view-resources/Views/Home/comment.js" asp-append-version="true"></script>
<script src="~/view-resources/Views/Home/saleslink.js" asp-append-version="true"></script>
<script src="~/view-resources/Views/Home/modellist.js" asp-append-version="true"></script>
<style>
    *{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    visibility: hidden;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
</style>
<div class="row">
    <section id="top-brands" class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="carousel-holder">
            
            <div class="title-nav">
                <h1>@Model.Product.productName                                       

  </h1>  

                <div class="nav-holder">
                    
                </div>

            </div><!-- /.title-nav -->

            
        </div><!-- /.carousel-holder -->
    </div><!-- /.container -->
</section>
    
</div>


        <div class="row">
            <div class="col-lg-4">
                <img src="/Common/Product/@Model.Product.Picture" class="rounded float-right" alt="@Model.Product.productName" />
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                             

                             <h3>
                             <i class="fa fa-star" aria-hidden="true" style="color:#D5AB55;" id="ratestar1"></i>
                             <i class="fa fa-star" aria-hidden="true" style="color:#D5AB55;" id="ratestar2"></i>
                             <i class="fa fa-star" aria-hidden="true" style="color:#D5AB55;" id="ratestar3"></i>
                             <i class="fa fa-star" aria-hidden="true" style="color:#D5AB55;" id="ratestar4"></i>
                             <i class="fa fa-star" aria-hidden="true" style="color:#D5AB55;" id="ratestar5"></i>
                                 <span id="rateavarage"></span></h3>
               
                    </div>
                    
                </div>
                <div class="row">

<div class="col-lg-12" >
    <p><i style="color:darkred;">Satın almak için aşağıdaki linkleri kullanabilirsiniz.</i></p>
    <div id="saleslink" style="margin-bottom:30px;"></div>

</div>

               
                       </div>

                       @Html.Raw(Model.Product.productDescription)
            </div>
            <div class="col-lg-2">
                <img src="https://dalamantv.com/wp-content/uploads/2020/03/D%C4%B0KEY-REKLAM-SPOTU-scaled.jpg" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="tab-pane active" id="reviews">
                    <div class="comments">
                         <h2>Yorumlar</h2>
                        <div class="comment-item">
                            <div class="row no-margin" id="commentLines">

                               

                            </div><!-- /.row -->
                        </div><!-- /.comment-item -->

                    </div><!-- /.comments -->

                 

                </div>
            </div>
        </div>
        
        <div class="add-review row" id="commentcreate">
                        <div class="col-sm-12 col-xs-12">
                            <div class="new-review-form" >
                                <h2>Yorum Yap</h2>
                                <form id="commentformSave" name="commentform" role="form" class="form-horizontal" method="post" asp-action="Comment" asp-controller="Home">
                                    <br />
                                    <div class="rate">

                                        <input type="radio" id="star5" name="productRate" value="5" />
                                        <label for="star5" title="5 Yıldız">5 stars</label>
                                        <input type="radio" id="star4" name="productRate" value="4" />
                                        <label for="star4" title="4 Yıldız">4 stars</label>
                                        <input type="radio" id="star3" name="productRate" value="3" />
                                        <label for="star3" title="3 Yıldız">3 stars</label>
                                        <input type="radio" id="star2" name="productRate" value="2" />
                                        <label for="star2" title="2 Yıldız">2 stars</label>
                                        <input type="radio" id="star1" name="productRate" value="1" />
                                        <label for="star1" title="5 Yıldız">1 star</label>
                                    </div>
                                    <div class="row field-row">
                                        <div class="col-xs-12 col-sm-12">
                                            <br />
                                            <label>Adınız *</label>
                                            <input type="text" class="le-input" required name="productCommentName">
                                            <input type="hidden" value="@Model.Product.Id" name="productId" id="forcommentproductId"/>
                                        </div>
                                       
                                    </div><!-- /.field-row -->                                                                                                             
                                        
                                     <div class="row field-row">
                                        <div class="col-xs-12 col-sm-12">
                                            <br />
                                            <select id="modellist" class="form-select" style="width:100%!important;" name="modelString"></select>
                                            <div id="infomessage" ></div>
                                        </div>
                                       
                                    </div>

                                    <div class="field-row">
                                        <br />
                                        <label>Yorumunuz</label>
                                        <textarea rows="8" class="le-input" required name="productCommentDescription"></textarea>
                                    </div><!-- /.field-row -->

                                    <div class="buttons-holder">
                                        <button type="submit" class="le-button huge save-button" style="width:100%!important;">Gönder</button>
                                        
                                    </div><!-- /.buttons-holder -->
                                </form><!-- /.contact-form -->
                            </div><!-- /.new-review-form -->
                        </div><!-- /.col -->
                    </div>
      

    
